<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    {% block extra_css %}{% endblock %}  
</head>
<body>
<header class="text-gray-400 bg-gray-900 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a href="{% url 'home' %}" class="flex items-center text-white">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl">Movie</span>
    </a>
    <nav class="ml-auto flex items-center gap-3">
      {% if user.is_authenticated %}
        <span class="text-gray-400">{{ user.username }}</span>
        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit" class="bg-gray-800 py-1 px-3 hover:bg-gray-700 rounded text-base text-gray-400 hover:text-white cursor-pointer">
            Logout
          </button>
        </form>
      {% else %}
        <a href="{% url 'login' %}" class="bg-gray-800 py-1 px-3 hover:bg-gray-700 rounded text-base hover:text-white">
          Login
        </a>
        <a href="{% url 'register' %}" class="bg-indigo-600 py-1 px-3 hover:bg-indigo-700 rounded text-base text-white">
          Register
        </a>
      {% endif %}
    </nav>
  </div>
</header>
    
{% block content %}
    {% endblock %}

    <footer class="text-gray-400 bg-gray-900 body-font">
  <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
    <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl">Movie</span>
    </a>
  </div>
</footer>
</body>
</html>